$bg: #fafafa;
$textColor: #141522;
$gray1: #8e92bc;
$gray2: #54577a;
$borderColor: rgba(18, 27, 250, 0.6);
$checkInputColor: #546fff;
$taskPending: rgba(255, 0, 0, 0.50);
$taskInProgress: rgba(250, 255, 0, 0.50);
$taskDone: rgba(51, 255, 0, 0.50);