.sectionPopup {
  border-radius: 25px;
  box-shadow: 0px 0px 4px 0px #8e92bc;
}
.sectionPopup .closeImg {
  height: 40px;
  width: 40px;
}
.sectionPopup .form-check {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.sectionPopup .form-check-input {
  margin-right: 16px;
  height: 25px;
  width: 25px;
}
